---
swagger: "2.0"
info:
  description: "API for the BM Dashboard."
  version: "1.0.0"
  title: "BM Dashboard"
  contact: {}
host: "api.dnb.no"
basePath: "/v1"
tags:
- name: "Reports"
- name: "Customers"
- name: "Accounts"
schemes:
- "https"
paths:
  /accounts/{account}/balance:
    get:
      tags:
      - "Accounts"
      summary: "Account balance."
      parameters:
      - name: "account"
        in: "path"
        description: "Account number, 11 digits."
        required: true
        type: "string"
      responses:
        200:
          description: "{\n   \"balance\": 12345,\n   \"currency\": \"NOK\",\n}"
          schema:
            type: "array"
            items:
              type: "string"
  /accounts/{account}/transactions/{year}/{month}:
    get:
      tags:
      - "Accounts"
      summary: "Transactions."
      produces:
      - "application/json"
      parameters:
      - name: "account"
        in: "path"
        description: "Account number, 11 digits. Example: 12345678910"
        required: true
        type: "string"
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      responses:
        200:
          description: "{\n    \"transactions\": [\n        {\n            \"account_balance\"\
            : 12325,\n            \"amount\": -20,\n            \"created\": \"2016-08-05T08:00:00Z\"\
            ,\n            \"currency\": \"NOK\",\n            \"description\": \"\
            DNB Børsbaren\",\n            \"id\": \"<id>\",\n            \"merchant_id\"\
            : \"<id>\",\n            \"notes\": \"Dobbel espresso\",\n           \
            \ \"settled\": \"2016-08-05T08:00:00Z \",\n            \"category\": \"\
            restaurant\"\n        },\n        {\n            \"account_balance\":\
            \ 12305,\n            \"amount\": -20,\n            \"created\": \"2016-08-05T08:05:00Z\"\
            ,\n            \"currency\": \"NOK\",\n            \"description\": \"\
            DNB Børsbaren\",\n            \"id\": \"<id>\",\n            \"merchant_id\"\
            : \"<id>\",\n            \"notes\": \"Dobbel espresso\",\n           \
            \ \"settled\": \"2016-08-05T08:05:00Z \",\n            \"category\": \"\
            restaurant\"\n        },\n    ]\n}"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Transaction"
        404:
          description: "No transactions."
  /customers/{orgnr}:
    get:
      tags:
      - "Customers"
      summary: "Get customer information."
      description: ""
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "{\n    \"email\": \"rune.bjerke@dnb.no\",\n    \"first_name\"\
            : \"Rune\",\n    \"last_name\": \"Bjerke\",\n    \"gender\": \"m\",\n\
            \    \"adr_street\": \"Dronning Eufemias gate 30\",\n    \"adr_post_code\"\
            : \"0191\",\n    \"adr_city\": \"Oslo\",\n    \"adr_country\": \"NO\"\
            ,\n    “phone\": \"+47 04800\",\n    \"birthday\": \"1960-06-17\",\n \
            \   \"created\": \"2015-07-01T10:42:00+01:00\",\L    \"updated\": \"2015-10-01T10:42:00+01:00\"\
            ,\n}"
          schema:
            type: "array"
            items:
              type: "string"
        404:
          description: "No such orgnr found."
  /customers/{orgnr}/about:
    get:
      tags:
      - "Customers"
      summary: "About this company."
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "{\n    \"email\": \"rune.bjerke@dnb.no\",\n    \"first_name\"\
            : \"Rune\",\n    \"last_name\": \"Bjerke\",\n    \"gender\": \"m\",\n\
            \    \"adr_street\": \"Dronning Eufemias gate 30\",\n    \"adr_post_code\"\
            : \"0191\",\n    \"adr_city\": \"Oslo\",\n    \"adr_country\": \"NO\"\
            ,\n    “phone\": \"+47 04800\",\n    \"birthday\": \"1960-06-17\",\n \
            \   \"created\": \"2015-07-01T10:42:00+01:00\",\L    \"updated\": \"2015-10-01T10:42:00+01:00\"\
            ,\n}"
          schema:
            type: "array"
            items:
              type: "string"
  /customers/{orgnr}/accounts:
    get:
      tags:
      - "Customers"
      summary: "Account overview (list of accounts)."
      produces:
      - "application/json"
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "{\n    \"accounts\": [\n        {\n            \"account_number\"\
            : \"05000000000\",\n            \"description\": \"Salary\",\n       \
            \     \"created\": \"2015-07-01T10:42:00+01:00\"\n        }\n        {\n\
            \            \"account_number\": \"05000000001\",\n            \"description\"\
            : \"Expenses\",\n            \"created\": \"2015-07-01T10:42:00+01:00\"\
            \n        }\n        {\n            \"account_number\": \"05000000002\"\
            ,\n            \"description\": \"Savings\",\n            \"created\"\
            : \"2015-07-01T10:42:00+01:00\"\n        }\n    ]\n}"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Account"
        404:
          description: "No accounts."
  /reports/accounts/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Accounts report."
      produces:
      - "application/json"
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Different use than /accounts?"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/advices/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Advices report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Advice"
  /reports/annual/{year}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Annual report for year and company,"
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Report found."
          schema:
            $ref: "#/definitions/Annual report"
        404:
          description: "Annual report not found."
  /reports/behaviour/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Behaviour report."
      produces:
      - "application/json"
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/benchmarks/{year}/{month}/{orgnr}/compareto/{orgnr_compare}:
    get:
      tags:
      - "Reports"
      summary: "Benchmark report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      - name: "orgnr_compare"
        in: "path"
        description: "Organization number of company to to compare with, 9 digits.\
          \ Example: 123456789"
        required: true
        type: "string"
      - name: "?type="
        in: "query"
        description: "What to compare: revenue (default=, profitability, liquidity"
        required: false
        type: "string"
        x-example: "revenue"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/calendars/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Calendar report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/chats/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Chats report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/expenses/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Expenses report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/invoices/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Invoices report."
      produces:
      - "application/json"
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/liquidity/{year}{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Liquidity for year, month and company."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/liquidityprognosis/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Liquidity prognosis for year, month and copmpany."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/liquiditystatus/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Liquidity status for year, month and company."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/loanpayments/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Loan payments report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/notifications/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Notifications report."
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/organization/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Organization report."
      produces:
      - "application/json"
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
          schema:
            $ref: "#/definitions/Report (placeholder)"
  /reports/products/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Products report."
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
  /reports/profitability/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Profitability report."
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
  /reports/revenues/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Revenues report."
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
  /reports/roles/{year}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Roles report."
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
  /reports/solidity/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Solidity report."
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
  /reports/system/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "System report."
      parameters:
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
  /reports/transactions/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Transaction report."
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "{\n    \"transactions\": [\n        {\n            \"account_balance\"\
            : 12325,\n            \"amount\": -20,\n            \"created\": \"2016-08-05T08:00:00Z\"\
            ,\n            \"currency\": \"NOK\",\n            \"description\": \"\
            DNB Børsbaren\",\n            \"id\": \"<id>\",\n            \"merchant_id\"\
            : \"<id>\",\n            \"notes\": \"Dobbel espresso\",\n           \
            \ \"settled\": \"2016-08-05T08:00:00Z \",\n            \"category\": \"\
            restaurant\"\n        },\n        {\n            \"account_balance\":\
            \ 12305,\n            \"amount\": -20,\n            \"created\": \"2016-08-05T08:05:00Z\"\
            ,\n            \"currency\": \"NOK\",\n            \"description\": \"\
            DNB Børsbaren\",\n            \"id\": \"<id>\",\n            \"merchant_id\"\
            : \"<id>\",\n            \"notes\": \"Dobbel espresso\",\n           \
            \ \"settled\": \"2016-08-05T08:05:00Z \",\n            \"category\": \"\
            restaurant\"\n        },\n    ]\n}"
          schema:
            type: "array"
            items:
              type: "string"
  /reports/turnovers/{year}/{month}/{orgnr}:
    get:
      tags:
      - "Reports"
      summary: "Turnovers report."
      parameters:
      - name: "year"
        in: "path"
        description: "Year, 4 digits. Example: 2017"
        required: true
        type: "string"
      - name: "month"
        in: "path"
        description: "Month, 2 digits (January is 01). Example: 01"
        required: true
        type: "string"
      - name: "orgnr"
        in: "path"
        description: "Organization number, 9 digits. Example: 123456789"
        required: true
        type: "string"
      responses:
        200:
          description: "Status 200"
definitions:
  Customer:
    type: "object"
    required:
    - "Id"
    properties:
      Id:
        type: "string"
        description: "Person: Personal number, 11 digits.\nCompany: Organization number,\
          \ 9 digits."
      Name:
        type: "string"
        description: "Person: Rune Bjerke.\nCompany: DNB"
      Address:
        type: "string"
        description: "Street address."
      Postcode:
        type: "string"
        description: "4 digits if in Norway,"
      City:
        type: "string"
      Country:
        type: "string"
      Email:
        type: "string"
      Phone:
        type: "string"
      Website:
        type: "string"
  Account:
    type: "object"
    properties:
      Number:
        type: "string"
        description: "11 digits."
      Type:
        type: "string"
        description: "Internal use, probably."
      Name:
        type: "string"
        description: "Friendly name."
      IBAN:
        type: "string"
        description: "ISO 13616:2007"
      Currency:
        type: "string"
        description: "ISO 4217: alpha 3-letter upcase e.g EUR"
  Transaction:
    type: "object"
    properties:
      id:
        type: "string"
      account:
        type: "string"
      type:
        type: "string"
      reference:
        type: "string"
        description: "Description"
      currency:
        type: "string"
      amount:
        type: "string"
  Advice:
    type: "object"
    properties:
      id:
        type: "string"
      type:
        type: "string"
      details:
        type: "string"
        description: "TBD"
    description: "Advice for BM Dashboard."
  Annual report:
    type: "object"
    properties:
      orgnr:
        type: "string"
      year:
        type: "string"
      details:
        type: "string"
        description: "TDB. Around 80 fields."
  Report (placeholder):
    type: "object"
    properties:
      id:
        type: "string"
      details:
        type: "string"